@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");
html, body, div, object,
h1, h2, h3, h4, h5, h6{
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

.content {
  max-width: fit-content;
  margin-inline: auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  margin-bottom: 20pt;
  width: 500pt;
  margin-inline: auto;

}

@-ms-viewport {
  width: device-width; }

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, input, select, textarea {
  color: #7f888f;
  font-family: "Open Sans", sans-serif;
  font-size: 17pt;
  font-weight: 400;
  line-height: 1.65; }
  @media screen and (max-width: 1680px) {
    body, input, select, textarea {
      font-size: 20pt; } }
  @media screen and (max-width: 1280px) {
    body, input, select, textarea {
      font-size: 17pt; } }
  @media screen and (max-width: 360px) {
    body, input, select, textarea {
      font-size: 17pt; } }

a {
  border-bottom: none;
  color: #f56a6a;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: #3d4449;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1em 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0; }

h1 {
  font-size: 4em;
  margin: 0 0 0 0;
  line-height: 1.3
}

h6 {
  font-size: 0.7em;
  margin-bottom: 50pt;
  color: #f56a6a;
}

@media screen and (max-width: 1680px) {
  h1 {
    font-size: 3.5em; } }

@media screen and (max-width: 980px) {
  h1 {
    font-size: 3.25em; } }

input[type="text"] {
  background: #ffffff;
  border-radius: 0.375em;
  border: none;
  border: solid 1px rgba(210, 215, 217, 0.75);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%; }
  input[type="text"]:focus {
    border-color: #f56a6a;
    box-shadow: 0 0 0 1px #f56a6a; }


input[type="text"]{
  height: 2.75em; }


table {
  margin: 0 0 2em 0;
  width: 100%; }
  table tbody tr {
    border: solid 1px rgba(210, 215, 217, 0.75);
    border-left: 0;
    border-right: 0; }
  table th {
    color: #5b6369;
    font-size: 1em;
    font-weight: 600;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: center; }

/* Button */
input[type="submit"] {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.375em;
  border: 0;
  box-shadow: inset 0 0 0 2px #f56a6a;
  color: #f56a6a !important;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.5em;
  letter-spacing: 0.075em;
  line-height: 3.5em;
  padding: 0 2.25em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap; }
  input[type="submit"]:hover {
    background-color: rgba(245, 106, 106, 0.05); }
